.part_box{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 5%;
}

.part_img{
   width: 19%;
   opacity: 0.9;
}

.part{
   margin-top: 20%;
}

@media screen and (min-width: 321px) and (max-width: 480px) {
   /* Додаткові стилі для екранів в інтервалі від 321px до 480px */
 }
 @media screen and (min-width: 769px) {
   /* Додаткові стилі для екранів більше 769px */
 }
  